<p class="login-title">Login</p>
<div class="wrap">
  <form [formGroup]="loginForm" class="login-form">
    <div class="form-container">
      <mat-form-field class="form-field">
        <mat-label>Enter your email</mat-label>
        <input
          matInput
          placeholder="pat@example.com"
          type="text"
          formControlName="email"
          id="email"
          required
        />

        <mat-error>
          {{
            this.loginForm.get("email")?.valid == false
              ? "Please enter a valid email."
              : ""
          }}
        </mat-error>
      </mat-form-field>
      <br />
      <mat-form-field class="form-field">
        <mat-label>Enter your password</mat-label>
        <input
          matInput
          [type]="hide ? 'password' : 'text'"
          formControlName="password"
          name="password"
        />
        <button
          mat-icon-button
          matSuffix
          (click)="clickEvent($event)"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
        <mat-error>
          {{
            this.loginForm.get("password")?.valid == false
              ? "Please enter a valid password atLeast 9 digits."
              : ""
          }}
        </mat-error>
      </mat-form-field>
      <button
        mat-raised-button
        color="primary"
        class="submit-btn"
        type="submit"
        [disabled]="!loginForm.valid"
        (click)="PostData()"
      >
        Login
      </button>
      <p>{{ messege }}</p>
    </div>
  </form>
</div>
